$color-base: #777777;
$color-secondary: #dcdcdc;
$color-white: #ffffff;

/* -----  common styles ---- */
.wrapper{
	padding: 24px;
 	width: 1008px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}


body{
	font-family: 'Arial';
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}
*{
	box-sizing: border-box;
}

p{
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.section-hr{
	hr{
		width: 960px;
		height: 1px;
		padding:0;
		color: $color-base;
		margin-top: 20px;
		margin-bottom: 20px; 
	}
}

/* ----- / common styles ---- */


/* -----   header ---- */

.section-header{
	display: flex;
	top: 0;
	justify-content: space-between;
	&-logo{
		width: 122px; 
		height: 108px;
		img{
			width: 122px; 
			height: 108px;
			border: 0;
		}
	}
	&-center{
		width: 279px; 
		height: 108px;
		background: $color-base;
	}
	&-info{
		color: $color-white;
		width: 513px; 
		height: 108px;
		padding-right: 25px;
		background: $color-base;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		justify-content: center;

		.email, .website{
			text-decoration: underline;
		}
	}
}

/* ----- / header ---- */

/* -----   content ---- */

.section-content{
	display: flex;
	justify-content: space-between;
	
	&-left{
		width:184px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.creation-sites{
			color: $color-white;
			background: $color-base;
			padding: 19px 32px 17px 13px;
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
			}
		}
		.creation-sites-img{
			height: 154px;
			padding-top:20px; 
			img{
				width: 184px; 
				height: 134px;
			}
		}
	}

	&-right{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 757px;

		.psd{
			display: flex;
			flex-direction: column;
			height: 210px;
			padding:21px;
			background: $color-secondary;
			color: $color-base;
			justify-content: space-between;
			&-title{
				font-weight: bold;
			}

			& span{
				font-weight: bold;
			}
		}

		&-image{
			display: flex;
			flex-wrap: wrap;
			img{
				margin-top: 20px;
				width:134px;
				height:153px;
				background-color: $color-secondary;
			}
			:not(:nth-child(5n)) {
    		margin-right: 22px;
    		}
    		:nth-child(4n) {
    		margin-right: 21px;
    		}
		}

		&-text{
			display: flex;
			justify-content: space-between;
			padding-top: 20px;
			.about-studio{
				background: $color-secondary;
				width:368px;
				padding:23px 18px; 
				color: $color-base;
			}
		}
	}

}

/* ----- / content ---- */


/* -----   footer ---- */

 .section-footer{
 	display: flex;
	justify-content: space-between;
 	&-list{
 		background: $color-base;
 		color: $color-white;
 		width: 297px;
 	}

 	&-block{
 		display: flex;
 		flex-direction: column;
		justify-content: space-between;
		width: 308px;
		.block{
			height: 75px;	
			background: $color-base;
		}
		.image{
			height: 75px;
			img{
				height: 75px;
				width: 308px;	
			}
		}
		
 	}
 	.first-list{
 		ul{
 			list-style: none;
 			column-count: 2;
 			padding-left: 25px;
 		}
 	}

 	.second-list{
 		ul{
 			list-style-type: square;
 		}
 	}
 }

/* ----- / footer ---- */